[Unit]
Description=Periodically check for new kernel modules
Documentation=man:modpdb(8)

[Timer]
OnBootSec=1min
OnUnitActiveSec=2h
Persistent=true
Unit=modpdb.service

[Install]
WantedBy=timers.target
